body,
html {
    height: 100%;

}

#dinamicStage {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
}

@keyframes s3 {
    100% {
        transform: rotate(1turn);
    }
}

#circle30 {
    stroke-dasharray: 435px;
    stroke-dashoffset: 0px;
    stroke-linecap: square;
    stroke-width: 20px;
    stroke: #00ffff;
    fill: none;
    animation: countdown 30s linear infinite forwards;
    z-index: 1;
}

#circle60 {
    stroke-dasharray: 435px;
    stroke-dashoffset: 0px;
    stroke-linecap: square;
    stroke-width: 20px;
    stroke: #00ffff;
    fill: none;
    animation: countdown 60s linear infinite forwards;
    z-index: 1;
}

#circle120 {
    stroke-dasharray: 435px;
    stroke-dashoffset: 0px;
    stroke-linecap: square;
    stroke-width: 20px;
    stroke: #00ffff;
    fill: none;
    animation: countdown 120s linear infinite forwards;
    z-index: 1;
}

@keyframes countdown {
    from {
        stroke-dashoffset: 0px;
    }

    to {
        stroke-dashoffset: -435px;
    }
}

#time {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#time p {
    padding: 1px;
    font-size: 0.8rem;
    text-align: center;
}



#time p:nth-child(2) {
    font-size: 2em;
}

#svgGenerale {
    transform: rotate(270deg);
    position: absolute;
    top: -77px;
    right: -225px;
    overflow: visible;
}

#countdown {
    position: fixed;
    right: 5%;
    top: 10%;
}

@media (max-width: 1000px) {
    #countdown {
        position: static;
        margin: 5% auto;
    }
}

#bloccoRisposte {
    margin: 5% auto auto auto;
}

.bottoneRisposta {
    width: 80%;
    margin: 5%;
    height: 5vh;
    padding-bottom: 3px;
    border-radius: 50px;
    color: white;
    font-family: 'Outfit', sans-serif;
    background-color: rgba(116, 116, 116, 0.1);
    box-shadow: -1px -3px 1.5px whitesmoke;
    border-color: rgba(255, 255, 255, 0.386);
    background: linear-gradient(177deg, #b9018b, #36042a);
}

#rigaRisposte1,
#rigaRisposte2 {
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 320px) {
    #bloccoRisposte {
        margin: 5% auto auto auto;
    }

    .bottoneRisposta {
        width: 49%;
        height: 10vh;
        margin: 2%;
        font-size: 1rem;
    }

    #rigaRisposte1,
    #rigaRisposte2 {
        display: flex;
        width: 100%;
        margin: 0 auto;
    }
}

@media (min-width: 670px) {
    #bloccoRisposte {
        margin: 5% auto auto auto;
    }

    #rigaRisposte1,
    #rigaRisposte2 {
        display: flex;
        width: 100%;
    }

    .bottoneRisposta {
        font-size: 2rem;
        width: 48%;
    }

}

#pDomanda {
    margin: 0 auto;
}